### Import Libraries and read CSV

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./Carbon Inventory.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Emissions Factors,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Description,Category,Location,Vendor,Unit,Source,Name,Amount (kg CO2e / unit),Activity Data 2019 total (measured in specifie...,CO2e (kg)
1,Restaurant electricity,Building operations,San Francisco,PG&E,kWh,eGRID 2018,CAMX Electricity Grid,0.2394512168,"249,530.63","59,750.41"
2,Restaurant electricity,Building operations,Dayton,Dayton Power & Light,kWh,eGRID 2018,Ohio Electricity Grid,0.5639962928,"516,447.90","291,274.70"
3,Restaurant natural gas,Building operations,San Francisco,PG&E,mmBtu,EPA Emissions Factors,Natural gas,53.06,863.97,"45,842.25"
4,Restaurant natural gas,Building operations,Dayton,Dayton Power & Light,mmBtu,EPA Emissions Factors,Natural gas,53.06,We don't get billed directly so we don't know,NaN

In [4]:
# renaming columns to clean df
df = df.rename(columns={'Unnamed: 0': 'Description'.strip(),
                        'Unnamed: 1': 'Category'.strip(),
                        'Unnamed: 2': 'Location'.strip(),
                        'Unnamed: 3': 'Vendor'.strip(),
                        'Unnamed: 4': 'Unit'.strip(),
                        'Unnamed: 5': 'Source'.strip(),
                        'Unnamed: 6': 'Name'.strip(),
                        'Unnamed: 7': 'Amount (kg CO2e / unit)'.strip(),
                        'Unnamed: 8': 'Activity Data 2019 total (measured in specified Unit)'.strip(),
                        'Unnamed: 9': 'CO2e (kg)'.strip(),
                       })

In [5]:
# excluding the first row (header) from the DataFrame
df = df.iloc[1:]

In [6]:
df.head()

,Description,Category,Location,Vendor,Unit,Emissions Factors,Name,Amount (kg CO2e / unit),Activity Data 2019 total (measured in specified Unit),CO2e (kg)
1,Restaurant electricity,Building operations,San Francisco,PG&E,kWh,eGRID 2018,CAMX Electricity Grid,0.2394512168,"249,530.63","59,750.41"
2,Restaurant electricity,Building operations,Dayton,Dayton Power & Light,kWh,eGRID 2018,Ohio Electricity Grid,0.5639962928,"516,447.90","291,274.70"
3,Restaurant natural gas,Building operations,San Francisco,PG&E,mmBtu,EPA Emissions Factors,Natural gas,53.06,863.97,"45,842.25"
4,Restaurant natural gas,Building operations,Dayton,Dayton Power & Light,mmBtu,EPA Emissions Factors,Natural gas,53.06,We don't get billed directly so we don't know,NaN
5,Waste sent to landfill,Waste,San Francisco,Recology,tons of waste,UK Government Emissions Factors,Municipal waste - landfill - short ton,646.52,170000,NaN

### Data Exploration

In [8]:
df.describe()

,Description,Category,Location,Vendor,Unit,Emissions Factors,Name,Amount (kg CO2e / unit),Activity Data 2019 total (measured in specified Unit),CO2e (kg)
count,52,52,52,52,52,52,52,52,52,3
unique,16,5,2,15,6,6,18,17,41,3
top,Beef,Ingredient production,San Francisco,California Organic Farmers,kg,Poore and Nemecek,"transport, freight, lorry with reefer, cooling...",0.12665373,"10,000","59,750.41"
freq,4,20,26,11,20,20,16,16,4,1

In [10]:
df.isna().sum()

Description                                               0
Category                                                  0
Location                                                  0
Vendor                                                    0
Unit                                                      0
Emissions Factors                                         0
Name                                                      0
Amount (kg CO2e / unit)                                   0
Activity Data 2019 total (measured in specified Unit)     0
CO2e (kg)                                                49
dtype: int64